
body {
	height: 100vh;
	background-color: #1c0735;
	}

    #balloon-container {
        height: 100vh;
        padding: 1em;
        box-sizing: border-box;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        transition: opacity 500ms;
      }
      
      .balloon {
        height: 125px;
        width: 105px;
        border-radius: 75% 75% 70% 70%;
        position: relative;
      }
      
      .balloon:before {
        content: "";
        height: 75px;
        width: 1px;
        padding: 1px;
        background-color: #FDFD96;
        display: block;
        position: absolute;
        top: 125px;
        left: 0;
        right: 0;
        margin: auto;
      }
      
      .balloon:after {
          content: "▲";
          text-align: center;
          display: block;
          position: absolute;
          color: inherit;
          top: 120px;
          left: 0;
          right: 0;
          margin: auto;
      }
      
      @keyframes float {
        from {transform: translateY(100vh);
        opacity: 1;}
        to {transform: translateY(-300vh);
        opacity: 0;}
      }

.container {
	padding: auto auto auto auto;
}

.balloons {
	position: absolute;
	}

.balloon1, .balloon2, .balloon3, .balloon4 {
	position: absolute;
	width: 85px;
	height: 95px;
	border-radius: 50%;
	}

.balloon1 {
	background-color: rgba(239, 71, 111, 0.7);
	left: -10px;
	top: 50px;
	}

.balloon2 {
	background-color: rgba(6, 214, 160, 0.7);
	left: 50px;
	top: 20px;
	}

.balloon3 {
	background-color: rgba(255, 209, 102, 0.7);
	left: 110px;
	top: 50px;
	}

.balloon4 {
	background-color: rgba(17, 138, 178, 0.7);
	left: 170px;
	top: 20px;
	}

.balloon1:before, .balloon2:before, .balloon3:before, .balloon4:before {
	content: "";
	position: absolute;
	width: 1px;
	height: 155px;
	background-color: #ffd166;
	top: 95px;
	left: 43px;
	}

.balloon1:after, .balloon2:after, .balloon3:after, .balloon4:after {
	content: "";
	position: absolute;
	border-right: 7px solid transparent;
	border-left: 7px solid transparent;
	top: 94px;
	left: 37px;
	}

.balloon1:after {
	border-bottom: 10px solid #ef476f;
	}

.balloon2:after {
	border-bottom: 10px solid #06d6a0;
	}

.balloon3:after {
	border-bottom: 10px solid #ffd166;
	}

.balloon4:after {
	border-bottom: 10px solid #118ab2;
	}


#foobar { display: none }


.Passheader {
    font-family: Tahoma, sans-serif;
	color: rgb(255, 255, 255);
	text-align: center;
	margin: 20px;
}

.row-fluid{
    display : flex;
	flex-direction: column;
	align-items: center;
}

@font-face {
    font-family: myFont;
    src: url("bd.ttf") ;
}

@import 'https://fonts.googleapis.com/css?family=Lily+Script+One';

body {
  background: #fac3f5;
  font-family: 'Lily Script One';
}

.card {
	position: fixed;
	width: calc(60%*3/4);
	top: 50%;
	left: 50%;
	margin-top: -22%; /* Negative half of height. */
	margin-left: calc(-60%*3/4/2); /* Negative half of width. */
  float: left;
  perspective: 500px;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);

  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  border-radius: 0px;
  backface-visibility: hidden;
  padding: 0px;
}

.back {
  background: #ffffff;
  color: white;
  transform: rotateY( 180deg );
}
.text{
	width: 100%;
	position: fixed;
	top: 70%;
	text-align: center;
}
p {
	text-align: center;
	font-size: 50px;
	font-family: myFont;
	color: rgb(209, 4, 144);
}